lines (11 sloc) 296 Bytes

{% extends "ventas/layout.html" %}
{% block content %}

<div class="container ">
    <table class= "table table-bordered table-striped">
         
        
        <h2>crear usuario:</h2>

        <form action="" method="POST" >
        {% csrf_token %}
        {{ form.as_p}}

        <input class="btn btn-primary float-right" type="submit" value="enviar">

    

         </form>
    </table> 
</div>
{% endblock %} 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        {% comment %} <h3>Crear cuenta</h3>
        <br>
        <form method="post">
 
     
            {% csrf_token %}
            {{form}}
     
    
            <input class="btn btn-primary float-right" type="submit" value="enviar">

    

        </form>
   </table>
</div>
{% endblock %}  {% endcomment %}








