{% extends "tienda/base.html" %}
{% block content %}
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-image:  url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-color-tennis-sport-advertising-background-backgroundmotionwork-outtennistreeshand-paintedfreshhouses-image_75815.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
margin: 0px;
overflow-x: hidden;"> 


<div class="text-center ">
    <h1 class="text-center; " style="text-shadow: 3px 3px 3px rgb(3, 3, 9);">STORE COMPUTER</h1>

    <br><br>

    <h2 class="text-center">Ven y conoce nuestra tienda.</h2>
    <br><br>

    <div id="carouselExampleCaptions" style=" width: 800px; "   class="carousel slide m-auto" data-bs-ride="carousel"  >
       
        <div class="carousel-indicators"  >
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static3.abc.es/media/summum/2019/11/05/la-roca-dwaine-johnson-apertura-kOc--620x349@abc.JPG" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Exprime tu 100%</h5>
              <p>Conoce nuestra tienda y encuentra todo lo que necesitas para tu mundo gamer</p>
            </div>
          </div>
          <div class="carousel-item ">
            <img src="img/box.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Desefia tus limites</h5>
              <p>Unete a nuestro club para conocer las nuevas actualizaciones </p>
            </div>
          </div>
          <div class="carousel-item ">
            <img src="img/yoga.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Todo lo que buscas en un solo lugar</h5>
              <p>vuelve a la calma </p>
            </div>
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br><br><br>


{% endblock  %}