.nav {
    color: #fff;

}

.tabla{

    text-align: center;
    background-color: rgb(20, 81, 234);
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    justify-content: center;
  
  
 }

.login {
    text-align: center;
}

#bienvenido {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 5%;
}


